#box {
	display: block;
	margin-left: 90px;
}

#form {
	display: inline-block;
	width: 300px;
	border: 2px solid black;
	margin-top: 40px;	
}

#orgs {
	width: 500px;
	display: inline-block;
}

input {
	display: inline-block;
	margin-bottom: 10px;
}

label {
	display: block;
}